@{
    ViewBag.Title = "Ver Registros";
    Layout = "~/Views/Shared/_Base.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuNuevoRegistro</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content">
            <div class="row">

                <div class="col-lg-4">
                    <div class="container">
                        <div class="list-group">
                            <a href="https://localhost:44394/cliente/RegistroCliente" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Cliente</b></a>
                            <br />
                            <a href="https://localhost:44394/fichaEmpleado/RegistroFichaEmpleado" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Empleado</b></a>
                            <br />
                            <a href="https://localhost:44394/TipoServicio/RegistroTipoServicio" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Tipo De Servicio</b></a>
                            <br />
                            <a href="https://localhost:44394/lugar/RegistroLugar" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Lugar o Ciudad</b></a>
                            <br />
                            <a href="https://localhost:44394/Maquina/RegistroMaquina" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Maquinas</b></a>
                            <br />
                            <a href="https://localhost:44394/Pedido/RegistroPedido" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Pedido</b></a>

                            <br />
                            <a href="https://localhost:44394/Factura/RegistroFactura" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Facturas</b></a>

                            <br />
                            <a href="https://localhost:44394/Presupuesto/RegistroPresupuesto" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Presupuestos</b></a>


                        </div>
                    </div>
                    <a href="https://localhost:44394/Menu/Menu" style="background-color:mediumseagreen" class="btn btn-block btn-success">Volver al Menu</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
