@{
    ViewBag.Title = "Nuevos Registros";
    Layout = "~/Views/Shared/_Base.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuNuevoRegistro</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content">
            <div class="row">

                <div class="col-lg-4">
                    <div class="container">
                        <div class="list-group">
                            <a href="https://localhost:44394/cliente/nuevoCliente" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Nuevo Cliente</b></a>
                            <br />
                            <a href="https://localhost:44394/fichaEmpleado/nuevoFichaEmpleado" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Nuevo Empleado</b></a>
                            <br />
                            <a href="https://localhost:44394/TipoServicio/NuevoTipoServicio" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Nuevo Tipo De Servicio</b></a>
                            <br />
                            <a href="https://localhost:44394/lugar/nuevoLugar" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Nuevo Lugar o Ciudad</b></a>
                            <br />
                            <a href="https://localhost:44394/Maquina/nuevoMaquina" style="background-color:mediumaquamarine; color: white" class="list-group-item"><b>Nueva Maquina</b></a>
                            
                        </div>
                    </div>
                    <a href="https://localhost:44394/Menu/Menu" style="background-color:mediumseagreen" class="btn btn-block btn-success">Volver al Menu</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
