@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Base.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content">
            <div class="row">

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h1 style="text-align:center" class="card-title"><b>Ingresar Pedido</b></h1>
                        </div>
                        <div style="text-align:center" class="card-body">

                            <i class='fas fa-snowplow' style='font-size:72px'></i>
                        </div>
                        <br />
                        <div style="text-align:center" class="card-footer">
                            <div class="col-lg-12">
                                <a href="https://localhost:44394/Pedido/Pedido" style="background-color:mediumaquamarine" class="btn btn-block btn-success">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h1 style="text-align:center" class="card-title"><b>Ingresar Presupuesto</b></h1>
                        </div>
                        <div style="text-align:center" class="card-body">

                            <i class='fas fa-snowplow' style='font-size:72px'></i>
                        </div>
                        <br />
                        <div style="text-align:center" class="card-footer">
                            <div class="col-lg-12">
                                <a href="https://localhost:44394/Presupuesto/Presupuesto" style="background-color:mediumaquamarine" class="btn btn-block btn-success">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h1 style="text-align:center" class="card-title"><b>Ingresar Factura</b></h1>
                        </div>
                        <div style="text-align:center" class="card-body">

                            <i class='fas fa-snowplow' style='font-size:72px'></i>
                        </div>
                        <br />
                        <div style="text-align:center" class="card-footer">
                            <div class="col-lg-12">
                                <a href="https://localhost:44394/Factura/Factura" style="background-color:mediumaquamarine" class="btn btn-block btn-success">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>




                <br />
                <br />

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h1 style="text-align:center" class="card-title"><b>Nuevo Registro</b></h1>
                        </div>
                        <div style="text-align:center" class="card-body">

                            <i class='far fa-clipboard' style='font-size:72px'></i>
                        </div>
                        <br />
                        <div style="text-align:center" class="card-footer">
                            <div class="col-lg-12">
                                <a href="https://localhost:44394/MenuNuevoRegistro/MenuNuevoRegistro" style="background-color:mediumaquamarine" class="btn btn-block btn-success">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h1 style="text-align:center" class="card-title"><b>Gastos</b></h1>
                        </div>
                        <div style="text-align:center" class="card-body">

                            <i class='fas fa-dollar-sign' style='font-size:72px'></i>
                        </div>
                        <br />
                        <div style="text-align:center" class="card-footer">
                            <div class="col-lg-12">
                                <a href="#" style="background-color:mediumaquamarine" class="btn btn-block btn-success" disabled>Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>
                

                <br />
                <br />

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h1 style="text-align:center" class="card-title"><b>Ver Registros</b></h1>
                        </div>
                        <div style="text-align:center" class="card-body">

                            <i class='fas fa-clipboard' style='font-size:72px'></i>
                        </div>
                        <br />
                        <div style="text-align:center" class="card-footer">
                            <div class="col-lg-12">
                                <a href="https://localhost:44394/MenuRegistro/MenuRegistro" style="background-color:mediumaquamarine" class="btn btn-block btn-success">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
     </div>
</body>
</html>
